services:
  postgres:
    image: postgres:15-alpine
    container_name: football_analysis_db
    environment:
      POSTGRES_DB: football_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: